<h2 class="title">The Stay at Home Philosopher</h2>
<h2 class="posts">Posts</h2>

<% if current_user.present? %>
  <button type="button" name="button" class="add-post">Add Post</button>
<% end %>

<div id="posts">

</div>
