<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p>Author: <%= @post.user.full_name %><p>

<div class="add-comment">
  <input type="text" name="" value="" class="comment-text-box">
  <button type="button" name="button" class="submit-comment">Submit</button>
  <button type="button" name="button" class="cancel-comment">Cancel</button>
</div>

<h3>Comments</h3>

<div id="comments">

</div>
